<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Freelance World</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="profile">Profle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/App/Logout">Logout ({{userName}})</a>
            </li>
        </ul>
    </div>
</nav>